In [2]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite:///AuctionBase.db

In [3]:
%sql SELECT COUNT(*) FROM Users

 * sqlite:///AuctionBase.db
Done.

[(13422,)]

In [4]:
%sql SELECT COUNT(*) FROM Users WHERE Location = 'New York'

 * sqlite:///AuctionBase.db
Done.

[(80,)]

In [5]:
%sql SELECT COUNT(*) FROM (SELECT ItemID FROM Categories GROUP BY ItemID HAVING Count(*) = 4);

 * sqlite:///AuctionBase.db
Done.

[(8365,)]

In [6]:
%sql SELECT ItemID FROM Items WHERE Currently = (SELECT MAX(Currently) FROM Items);

 * sqlite:///AuctionBase.db
Done.

[(1046871451,)]

In [7]:
%%sql
SELECT COUNT(DISTINCT Items.SellerID)
FROM Items
JOIN Users ON Users.UserID = Items.SellerID
WHERE Users.Rating > 1000;

 * sqlite:///AuctionBase.db
Done.

[(3130,)]

In [8]:
%%sql
SELECT COUNT(DISTINCT Items.SellerID)
FROM Items
JOIN Bids ON Bids.UserID = Items.SellerID;

 * sqlite:///AuctionBase.db
Done.

[(6717,)]

In [9]:
%%sql
SELECT COUNT(DISTINCT Categories.Category)
FROM Categories
JOIN Items ON Categories.ItemID = Items.ItemID
WHERE Items.Currently > 100 AND Items.Number_of_Bids > 0;

 * sqlite:///AuctionBase.db
Done.

[(150,)]